*{
    padding: 0%;
    margin: 0%;
    
}

.nav{
    box-shadow: 0 10px 25px grey ;
    width: 100%;
    position: relative;
}

.nav-bar{
    display: flex;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    padding: 20px 80px;
    box-shadow:0 5px 15px rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(248, 248, 249));
    

}

.upper-bar{
    width: 100%;
    height: 40px;
    color:white;
    background-color: deeppink;
    display: flex;
    position: relative;} 

  /* .header{color: deeppink;
   font-family: "Sacramento", cursive;
   font-size: 75px;
font-weight: 60;
position:absolute;
left: 30.0rem;

} */




.nav-bar-links{
    justify-content: space-between;
    display: flex;
    color: deeppink;
}

.nav-links{
    display: flex;
    justify-content: space-between;

}

.nav-links li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: deeppink;
    transition: 0.3s ease-in-out;

}

.nav-links li a:hover{
    color: #000;
}

.nav-links li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.slider-container{
    justify-content: center;
}

.sub-header{
    color: #000;
    font-size: 15px;
    position: absolute;
    font-family: "Raleway", sans-serif;
    top: 75px;
    right: 65px;
    
}


.upper-container{  
    display: flex;
    justify-content: space-between;
    align-items:center;
    left: 1%;
    position:absolute;

    

}


    .upper-container li{
        list-style: none;
        justify-content: space-between;
   
    }
    

    .upper-container-right{  
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 5%;
        bottom: 10%;
        
        
        
    
    }
    
    
    .upper-container-right li{
            list-style: none;
            justify-content: space-between;
       
        }
        






  


        