.slider{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 45vh;
    border:2px deeppink; ;
    border-style: groove;
    display: inline-flex;
 object-fit: contain;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3) ;
}



.slide{
    
    position: absolute;
    width: 100%;
    height: 100%;
    padding: -150px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    object-fit: cover;


}

.buttons button#next{
    position: absolute;
    top: 230px;
    right: 15px;
}


.buttons button#prev{
    position: absolute;
    top: 230px;
    left: 15px;
}

.buttons button{
    border: 2px solid white;
    background-color: white;
    color:deeppink;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover{
    background-color: white;
    color: black;
}


.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    left: -600px;
    bottom: 70px;
    width: 200px;
    opacity: 0;
    background-color:rgb(255,255,255,0.8);
    color: rgb(86, 86, 86);
    padding: 15px;

}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition:all 0.7s ease-in-out 0.3s ;
}

.slide .content h1{
    margin-bottom: 10px;
}


.slide:first-child{
    background:url('../../images/sunset-1283872_640.jpg') no-repeat center center/cover;
}

.slide:nth-child(2){
    background:url('../../images/fbda075dea9a684fc51aaeddbc7790ef.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
    background:url('../../images/istockphoto-691910455-1024x1024.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
    background:url('../../images/istockphoto-615901832-1024x1024.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
    background:url('../../images/istockphoto-1399395748-1024x1024.jpg') no-repeat center top/cover;
}


.advert{
    align-items: center;
    position: relative;
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 5px solid black;
    border-style: none;
    background-color: burlywood;
    margin-left: 10px;
    margin-top: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3) ;
}


.advertisement{
align-items: center;
display: flex;
justify-content: space-evenly;}



.home-items{
 align-items: center;
display: block;
justify-content: space-evenly;
margin-top: 100px;
margin-left: 50px;}

.home-items1{
    align-items: center;
    display: block;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 60px;}
    
.home-items2{
    align-items: center;
    display: block;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 60px;}

    
.home-items3{
    align-items: center;
    display: block;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 60px;}

.items{
    align-items: center;
    position: relative;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    border: 5px solid black;
    border-style: none;
    background-color: burlywood;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3) ;
}

    .items-container{
        position: relative;
        display: flex;
        
    }

    .info-container{
        background-color:whitesmoke;
        line-height: 35px;
        width: 100%;
        height: 250px;
        position: relative;
        display: flex;
        margin-bottom: 0%;
        margin-top: 200px;
        border: 3px solid deeppink;
        
     
    }

    .info-content{
        position: relative;
        margin-left: 5%;
        font-size: 10px;
        margin-top: 3%;
        color: gray;
    }
    
    .info-content1{
        position: relative;
        margin-left:20%;
        font-size: 10px;
        color: gray;
        margin-top: 3%;
        
    }


    .info-content2{
        position: relative;
        margin-left:20%;
        font-size: 10px;
        color: gray;
        margin-top: 2%;
        
    }
   
    .info-links{
        list-style: none;
        text-decoration: none;
        color: grey;
    }

    .info-links:hover{
        color:black;
    }

    .info-links-header{
        list-style: none;
        text-decoration: none;
        color: black;
        font-weight: bold;
        
    }

.payment-methods{
    position: absolute;
    margin-left: 5%;
    font-size: 10px;
    margin-top: 11%;
    color: black;
    display: flex;
    height: 80px;
    width: 350px;
    left: 1050px;
    
    
}

.payment-links{
    justify-content: space-evenly;
    line-height: 5px;
}
