.contact{
    position:absolute;
    right: 4.5rem;
    width: 80px;
    padding: 15px;
    border-radius: 15px;
    background-color:white;
    border: 1px solid black ;
    
}

.contact::before{
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color:deeppink;
    border-left: solid black;
    }

    .contact-container{
        position: relative;
        right: 1.0rem;
         }
    
    .contact-styles{
        align-items: center;
        justify-content: center;
        
    }

    .contact-styles li{
        list-style: none;
        
    }